.outlet
  margin-top: 10vh
  // overflow: hidden
  zoom: 1

button
  padding: 0 .8rem 0 .8rem
  float: right
  //transform: rotate(-90deg)

@import "~bulma/bulma.sass"

+touch
  button
    margin: 0 15vw 0 0

+desktop
  button
    margin: 0 5vw 0 0
