::ng-deep .mat-tab-label
  color: #3b3b3b
::ng-deep .mat-tab-label-active
  color: #c2175b

.point
  cursor: pointer

.body
  position: fixed
  width: 100vw
  height: 100vh
  background-color: #0000003a
  z-index: 20

// .body:before
//   content: ''
//   display: inline-block
//   vertical-align: middle
//   height: 100%

.spin
  display: block
  top: 30vh
  margin-left: auto
  margin-right: auto
  width: 40%
